<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="image-cover" style="background-image: url('../images/distributed.jpg'); height: 400px;" >
        <div class="main-text"><%= title %></div>
        <div class="sub-text"><h4>Welcome <%= title %></h4></div>

    </div>
    <!-- <a href="/about">Go to About</a> -->
    <%- include('partials/navbar') %>
    <h1>About 페이지입니다!</h1>
  </body>
</html>
