<!DOCTYPE html>
<html>

<head>

  <%- include('partials/head') %>
  <title><%= title %></title>
</head>

<body>
  <%- include('partials/navbar') %>

  <div class="section">

    <div class="page-title">
      Papers
    </div>

    <div style="text-align: left; margin-top: 60px; margin-bottom: 50px;">
      <button type="button" id="all" class="filter-btn active" name="button">전체</button>
      <button type="button" id="sci" class="filter-btn" name="button">SCI</button>
      <button type="button" id="non-sci" class="filter-btn" name="button">NON-SCI</button>
    </div>

    <div id="pivot"></div>


    <% for(var i=0; i<obj_length; i++) { %>
    <div class="row list" style="padding: 20px 25px;">
      <div class="col-sm-2">
        <%= i+1 %>
      </div>
      <div class="col-sm-10">
        <div class="paper-title">
          <%= papers.papers[i].title %>
        </div>

        <div class="paper-writer">
          <%= papers.papers[i].author %>
        </div>
        
        <div class="paper-info">
          <%= papers.papers[i].info %>
        </div>
      </div>
    </div>
    <% } %>

  </div>
  <%- include('partials/footer') %>

</body>

</html>



<style>
  .filter-btn {
    padding: 5px 40px;
    margin-right: 20px;
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    font-size: 15px;
  }

  .filter-btn:hover {
    background-color: #1f1f1f;
    color: white;
  }

  .list:hover {
    background-color: #fafafa;
  }

  .paper-title {
    font-size: 17px;
    font-weight: 400;
  }

  .paper-writer {
    font-size: 15px;
    font-weight: 300;
    color: gray;
    margin-top: 10px;
  }

  .paper-info {
    font-size: 15px;
    font-weight: 300;
    color: gray;
  }
</style>