<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/navbar') %>
  <div class="section">
    <div class="page-title">
      Projects
    </div>

    <div class="btn-group">
      <button type="button" id="all" class="filter-btn active" name="button">전체</button>
      <button type="button" id="sci" class="filter-btn" name="button">2019</button>
      <button type="button" id="non-sci" class="filter-btn" name="button">2018</button>
      <input type="text" id="keyword" class="keyword fas" placeholder="&#xf002; 검색어를 입력하세요">
    </div>

    <% for(var i=0; i<obj_length; i++) { %>
      <div class="row list" id="test" style="padding: 20px 25px;">
        <div class="col-lg-1 col-sm-1" style="text-align: center;" >
          <%= i+1 %>
        </div>
        <div class="col-lg-11 col-sm-11">
          <div class="paper-title">
            <%= projects.projects[i].title %>
          </div>
          <div class="paper-writer">
            <%= projects.projects[i].author %>
          </div>
          
          <div class="paper-info">
            <%= projects.projects[i].info %>
          </div>
        </div>
      </div>
      <% } %>

      
  </div>

  <%- include('partials/footer') %>

</body>

</html>

<style>
  .col-lg-1{
    text-align: center;
  }

  .col-lg-2{
    text-align: center;
  }
</style>


<script>
  // search
  $(document).ready(function(){
    $("#keyword").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".paper-title").filter(function() {
        $(this).parent().parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

